# Day 1: Advent of Code

### Part 1:

In [2]:
import pandas as pd

In [14]:
# Read the data with tab separation and no header
data = pd.read_csv('day1_input.txt', sep=r'\s+', header=None)
data

         0      1
0    16435  48069
1    29877  97906
2    75256  47355
3    25417  59861
4    32479  25840
..     ...    ...
995  66871  37296
996  33330  86365
997  66278  96190
998  18682  72272
999  42394  36663

[1000 rows x 2 columns]

In [20]:
# Apply sorting to each column
sorted_data = data.apply(lambda col: col.sort_values().values)
sorted_data['diff'] = (sorted_data[1] - sorted_data[0]).abs()
total_distance = sorted_data['diff'].sum()

### Part 2:

In [25]:
def count_value_in_column(dataframe, column_name, val):
    # Use value_counts() to get a Series of value counts
    value_counts = dataframe[column_name].value_counts()

    # Get the count for the specified value, default to 0 if the value is not in the column
    return value_counts.get(val, 0)

sim_score = 0
for value in sorted_data.iloc[:, 0]:
    val_num = count_value_in_column(sorted_data, 1, value)
    sim_score += val_num * value

sim_score

20373490